# Ignore everything
/*

# Except these:
!.gitignore
!.vimrc
!.ideavimrc
!.bashrc
!mybin

# Except these in subdirs:

# */nvim
!AppData/
AppData/*
!AppData/Local/
AppData/Local/*
!*AppData/Local/nvim/

# treesitter highlights
!.vim/
.vim/plugged/
.vim/verbose.log
.vim/undodir
