[user]
	name = Matej Holy
	email = matej.holy@garwan.sk
[core]
	autocrlf = input
[merge]
	commit = yes
[alias]
	co = checkout
	lg = lg1
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	lg1 = log --graph --abbrev-commit --decorate --format=format:'%s %C(bold yellow)%d%C(reset) %C(dim white)%an%C(reset) %C(bold blue)%h%C(reset)  %C(bold green)(%ar)%C(reset)' --all
	m = merge
	s = status
	st = status
	alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
	cm = commit
	a = add
	pushu = !git push -u origin HEAD
	cur = branch --show-current
[credential]
	helper = manager-core
