# Ignore everything
/*

# Except these:
!.gitignore
!.vimrc
!.ideavimrc
!.bashrc
!mybin

# Except these in subdirs:

# Nvim
!.config/
.config/*
!.config/nvim
.config/nvim/undodir
.config/nvim/plugged/
.config/nvim/verbose.log


# git templates
!.git-templates/
