" Does this work? Sometimes looks like yes, other time no
source ~/.vimrc

set smartindent
set ideajoin    " join lines smartly with idea
set visualbell  " noerrorbells do not work


" Plgins
set surround
set commentary
set textobj-entire
set ReplaceWithRegister
set highlightedyank
set argtextobj
set ReplaceWithRegister

" tab navigation
" A is alt in IDEAvim instead of M
" Must be configured in IDEA
"nnoremap <A-l> PreviousTab<CR>
"nnoremap <A-h> NextTab<CR>

" --- Vim mappings ---
" Vimrc duplicates:
set number		    " make current line number not relative
set relativenumber	" enable relative line numbers

set autoindent      " enable indetation
set smartindent	    " try to indent for me
set tabstop=4	    " make tab 4 spaces
set softtabstop=4   " make soft tab 4 spaces
set shiftwidth=4    " also make 4 spaces
set expandtab       " convert tabs to spaces

set nowrap		   	" dont wrap lines
set ignorecase
set smartcase       " ignore case during search unless there is a Capital letter
set incsearch       " incrementaly show search results
set hlsearch        " highlight searches
set showmatch       " hightlight matching braces

set showcmd         " show partial commnand in the bottom

" This does not get sourced from vimrc
nnoremap // :noh<CR>

nnoremap <SPACE> <Nop>
let mapleader = " "

nnoremap <C-l> <C-w>l
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap + :vertical resize +5<CR>
nnoremap _ :vertical resize -5<CR>

" Tabs navigation
nnoremap <M-h> :tabp<CR>
nnoremap <M-l> :tabn<CR>

" -- Main mappings --
nnoremap ; :

" Keep visual selection when indenting
vnoremap > >gv
vnoremap < <gv

" Create new lines in and stay in normal mode
nmap zj o<Esc>k
nmap zk O<Esc>j

" -- Yanking --
nnoremap Y y$
nnoremap zp "*p
nnoremap zy "*y
nnoremap zY "*Y
nnoremap zP "*P
vnoremap zy "*y
vnoremap zY "*Y


" --- IDEA mappings ---

nnoremap [g :action GotoNextError<CR>
nnoremap ]g :action GotoPreviousError<CR>

nnoremap <leader>f :action GotoFile<CR>
nnoremap <leader>g :action GotoClass<CR>
nnoremap gm :action RenameElement<CR>
nnoremap <leader>. :action FileStructurePopup<CR>
nnoremap <leader>p :action ParameterInfo<CR>
nnoremap <leader>z :action ToggleDistractionFreeMode<CR>
nnoremap <leader>e :action RecentFiles<CR>

nnoremap <leader>l :action ReformatCode<CR>
nnoremap <leader>o :action OptimizeImports<CR>
nnoremap <leader>i :action ImplementMethods<CR>
nnoremap <leader>O :action OverrideMethods<CR>

" nnoremap <M-h> :action PreviousTab<CR>
" nnoremap <M-l> :action NextTab<CR>

nnoremap <leader>/ :action FindInPath<cr>

" View - tool windows
" Must be configured in IDEA
"nmap <A-t> :action View.Terminal<CR>
"nmap <A-p> :action View.Project<CR>
"nmap <A-d> :action View.Database<CR>
"nmap <A-d> :action View.Git<CR>
"nmap <A-r> :action View.Run<CR>
"nmap <A-f> :action View.Debug<CR>

nnoremap <leader>r :action Run<CR>
nnoremap <leader>d :action Debug<CR>
